input {
    height: 10vh;
    width: 80vh;
    font-size: 50px;
    text-indent: 15px;
}

div#input {
    height: 40vh;
    display: flex;
    flex-direction: column;
}

h1#name {
    height: 50vh;
    font-size: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 40px rgb(0, 0, 0);
}

small {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
