h1#welcome {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
    color: white;
}

h1#time {
    font-size: 10vw;
    color: white;
}

h1#date {
    font-size: 50px;
    color: white;
}
